<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.afolayan.med_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.MedManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MedManagerAppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bc5fe9816e0cf777844e94d019b9fa3511242e18" />

        <activity
            android:name=".MedicationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/MedManagerAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewMedicationActivity"
            android:label="@string/new_medication"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/MedManagerAppTheme"/>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".MedicationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/MedManagerAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afolayan.med_manager.MedicationActivity" />
        </activity>

    </application>

</manifest>